{{ ansible_managed | comment }}
## Enable gzip compression for nginx

{% if ansible_distribution == 'Ubuntu' and ansible_distribution_major_version | int < 18 %}
gzip on;
{% endif %}
gzip_proxied any;
gzip_types text/plain text/xml text/css application/x-javascript;
gzip_vary on;
gzip_disable “MSIE [1-6]\.(?!.*SV1)”;

