{{ ansible_managed | comment }}

large_client_header_buffers 2 1k;
client_header_buffer_size 1k;
{% if not ((ansible_os_family == 'RedHat' and ansible_distribution_major_version|int <= 7) or (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version|int > 16)) and harden_nginx_client_max_body_size|string %}
client_max_body_size {{ harden_nginx_client_max_body_size }};
{% endif %}
client_body_buffer_size {{ harden_nginx_client_body_buffer_size }};

add_header X-Content-Type-Options nosniff;
add_header X-Frame-Options SAMEORIGIN;
#add_header X-Frame-Options DENY;
{% if hardenwebserver_cert != 'selfsigned' %}
add_header Strict-Transport-Security "max-age=63072000; includeSubdomains; preload";
{% endif %}
## https://www.w3.org/TR/upgrade-insecure-requests/
# {{ ansible_os_family }}, {{ ansible_distribution }}, {{ ansible_distribution_major_version }}
# {{ (ansible_os_family == 'RedHat' and ansible_distribution_major_version|int <= 8) }}
# {{ (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version|int > 18) }}
{% if not (ansible_os_family == 'RedHat' and ansible_distribution_major_version|int <= 8) and
 not (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version|int <= 20) %}
if ($http_upgrade_insecure_requests = "1") {
    add_header Vary Upgrade-Insecure-Requests;
    return 307 https://$host$request_uri;
}
{% endif %}
add_header Content-Security-Policy "{{ hardenwebserver_header_csp }}";
add_header Referrer-Policy "{{ harden_webserver_header_refpolicy }}";
## only if proxy: force cookie as secure+httponly. might break some app...
## + SameSite https://scotthelme.co.uk/csrf-is-dead/
#proxy_cookie_path / "/; secure; HttpOnly; SameSite";

{% if hardenwebserver_nginx_with_log_combined is defined and hardenwebserver_nginx_with_log_combined|bool %}
## Note cookie are selective and must update $cookie_COOKIE to $cookie_target
log_format combined_long '$remote_addr - $remote_user [$time_local] '
    '"$request" $status $body_bytes_sent '
    '"$http_referer" "$http_user_agent" "$cookie_COOKIE"';
access_log /var/log/nginx/access-long.log combined_long;

{% endif %}
{% if hardenwebserver_nginx_with_log_json is defined and hardenwebserver_nginx_with_log_json|bool %}
# https://nginx.org/en/docs/http/ngx_http_log_module.html#log_format
log_format combined_json escape=json
  '{'
    '"time":"$time_iso8601",'
    '"time_local":"$time_local",'
    '"remote_addr":"$remote_addr",'
    '"remote_user":"$remote_user",'
    '"request":"$request",'
    '"request_method":"$request_method",'
    '"uri":"$uri",'
    '"query_parameters":"$query_string",'
    '"protocol":"$server_protocol",'
    '"request_time":"$request_time",'
    '"status":"$status",'
    '"body_bytes_sent":"$body_bytes_sent",'
    '"http_referrer":"$http_referer",'
    '"http_user_agent":"$http_user_agent",'
    '"vhost":"$server_name",'
    '"xff":"$http_x_forwarded_for",'
    '"cookie_COOKIE":"$cookie_COOKIE"'
  '}';
access_log /var/log/nginx/access_json.log combined_json;

{% endif %}
{% if hardenwebserver_nginx_with_log_remotesyslog is defined and hardenwebserver_nginx_with_log_remotesyslog|bool %}
# https://nginx.org/en/docs/syslog.html
error_log syslog:server={{ hardenwebserver_nginx_remotesyslog | default('10.0.0.254') }} debug;
access_log syslog:server={{ hardenwebserver_nginx_remotesyslog | default('10.0.0.254') }},facility=local7,tag=nginx,severity=info {{ hardenwebserver_nginx_remotesyslog_format | default('combined') }};

{% endif %}
{% if hardenwebserver_nginx_debian_pkg is defined and hardenwebserver_nginx_debian_pkg == 'nginx-naxsi' and hardenwebserver_nginx_naxsi is defined and hardenwebserver_nginx_naxsi %}
include /etc/nginx/naxsi.rules;
{% endif %}

