{{ ansible_managed | comment }}
## HTTPS common server/virtualhost settings

ssl on;
#ssl_certificate {{ ssl_dir }}/{{ ansible_fqdn }}.crt;
#ssl_certificate_key {{ ssl_privatedir }}/{{ ansible_fqdn }}.key;

ssl_session_cache   shared:SSL:10m;
ssl_session_timeout 10m;

ssl_protocols {{ harden_nginx_sslprotocol }};
ssl_prefer_server_ciphers on;
ssl_ciphers "{{ harden_nginx_sslciphersuite }}";
ssl_ecdh_curve secp384r1; # Requires nginx >= 1.1.0
ssl_dhparam {{ ssl_privatedir }}/dhparam4.pem;

{% if ansible_distribution_release == 'xenial' %}
{% if hardenwebserver_nginx_sessiontickets is not defined or not hardenwebserver_nginx_sessiontickets %}
ssl_session_tickets off; # Requires nginx >= 1.5.9
{% else %}
ssl_session_tickets on;
## openssl rand 48 -out /etc/nginx/ssl/ticket.key 
ssl_session_ticket_key /etc/nginx/ssl/ticket.key;
{% endif %}
{% endif %}
{% if hardenwebserver_nginx_stapling is defined and hardenwebserver_nginx_stapling %}
ssl_stapling on; # Requires nginx >= 1.3.7
ssl_stapling_verify on; # Requires nginx => 1.3.7
{% endif %}
{% if hardenwebserver_nginx_resolver is defined %}
resolver {{ hardenwebserver_nginx_resolver }} valid=300s;
{% endif %}
resolver_timeout 5s;

## anonymize data? need nginx recompile --with-http_perl_module
## https://sysadminosaurus.blogspot.fr/2014/12/pci-dss-nginx-access-logs-and-credit.html

{% if hardenwebserver_cert_pinning is defined and hardenwebserver_cert_pinning and hardenwebserver_cert_pinning_value is defined and hardenwebserver_cert_pinning_value.stdout != '' %}
## HTTP Public Key Pinning
## https://raymii.org/s/articles/HTTP_Public_Key_Pinning_Extension_HPKP.html
## https://scotthelme.co.uk/hpkp-http-public-key-pinning/
## https://news.netcraft.com/archives/2016/03/30/http-public-key-pinning-youre-doing-it-wrong.html
## https://community.letsencrypt.org/t/hpkp-best-practices-if-you-choose-to-implement/4625          = not recommended/on your own
## https://blog.qualys.com/ssllabs/2016/09/06/is-http-public-key-pinning-dead
add_header Public-Key-Pins 'pin-sha256="{{ hardenwebserver_cert_pinning_value.stdout }}"; max-age value 5184000; includeSubDomains'
{% endif %}

## https://community.qualys.com/thread/12758
#if ($ssl_protocol != "TLSv1.2") {
#   return 302 https://example.com/outdated.html;
#}
